
article.GroceryList {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.recipe {
    display: flex;
    max-height: min-content;
    border-bottom: #97D8B2 solid;
}

.recipe__leftSide {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.recipe__information {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    align-items: flex-end;
}

.grocery--recipe__image {
    display: block;
    margin-right: none;
    width: 15em;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
}

.recipe__ingredients {
    display: flex;
    flex-flow: column nowrap;
    margin: 0%;
    justify-content: center;
    flex: 1
}

.groceryList--button {
    margin-bottom: 10px;
}

h3.ingredient {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

h2.recipe__name {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    color: #531253;
    margin-top: 0%;
}