.groceryList--container {
    /* display: flex;
    flex-flow: column nowrap; */
}

.ingredientCategory {
    /* display: flex;
    flex-flow: column nowrap; */
}

.categoryTitle {
    padding: 0.5% 0% 0.5% 5%;
    background: linear-gradient(to bottom right, #7b297b, #551a55);
    margin: 5px 14% 5px;
    border-radius: 5px;
}

.categoryList {
    /* display: flex;
    flex-flow: column nowrap; */
    padding: 0% 15%;
}

.ingredient{
    display: flex;
    flex-flow: column nowrap;
}

.ingredientButton {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    min-width: min-content;
    padding: 1% 0% 1% 5%;
    margin-bottom: 5px;
    border-radius: 10px;
    background: linear-gradient(#54ce87, #4dbb7b, #54ce87);
    color: white;
}

.ingredientLabel {
    display: flex;
    flex-flow: row wrap;
    justify-self: center;
    margin: 0% auto;
} 
.checkbox {
    border: 3px;
    border-color: #97D8B2;
}