.savedContainer--main {
    display: flex;
}

.savedContainer--left {
    flex: 3;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.savedContainer--right {
    flex: 2;
}

.title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.myRecipe {
    display: flex;
    flex-flow: column;
    width: 30%;
    min-width: 250px;
    height: min-content;
    max-height: 3000px;
    margin: 1%;
    text-size-adjust: smaller;
    border-radius: 5%;
    border: #531253 solid;
    background-color: #170312;
}

.myRecipe:hover {
    color: #170312;
    background-color: white;
    border: #A0ACAD solid;
}

.myRecipe__name {
    align-items: center;
}

.myRecipeFavorite__icon {
    width: 2em;
    height: 2em;
}

.myRecipe__image {
    height: 50%;
}

.myRecipe__image {
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}

.myRecipe__favorite {
    box-sizing: unset;
    border-radius: 0em 0em 1em 1em;
    border: none;
    background-color: #97D8B2;
}

.link a:hover {
    color: #33032F;
}

.savedRecipe--link:hover {
    color: #97D8B2;
}