/******* Saved Recipe List ********/

.savedContainer--main {
    display: flex;
}

.savedContainer--left {
    display: flex;
    flex-flow: column wrap;
    flex: 3;
}

.savedRecipe--buttons {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5% 10%;
}

.savedContainer--right {
    display: flex;
    flex-flow: column nowrap;
    flex: 2;
    background-color: #663a66;
    border-left: 3px solid #97D8B2;
    
}

.savedRecipe--list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
}

.title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.myRecipe {
    display: flex;
    flex-flow: column;
    width: 30%;
    min-width: 250px;
    height: min-content;
    max-height: 3000px;
    margin: 1%;
    text-size-adjust: smaller;
    border-radius: 5%;
    border: #531253 solid;
    background-color: #170312;
}

.myRecipe:hover {
    color: #170312;
    background-color: white;
    border: #A0ACAD solid;
}

.myRecipe__name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.myRecipeFavorite__icon {
    width: 2em;
    height: 2em;
}

.myRecipe__image {
    height: 50%;
}

.myRecipe__image {
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}

.myRecipe__favorite {
    box-sizing: unset;
    border-radius: 0em 0em 1em 1em;
    border: none;
    background-color: #97D8B2;
}

.link a:hover {
    color: #33032F;
}

.savedRecipe--link:hover {
    color: #97D8B2;
}


/******** Selected Saved Recipe *******/

.selectedSavedRecipe {
    display: flex;
    flex-flow: column nowrap;
}

.selectedSavedRecipe__title {
    display: flex;
    justify-content: center;
    background: linear-gradient(#170312, #33032F, #170312);
}

.selectedSavedRecipe__image {
    max-width: 80%;
    align-self: center;
    margin: 5% 0%;
    border-radius: 5px;
}

/* Buttons */

.selectedSavedRecipe__buttons {
    display: flex;
    flex-flow: row-reverse nowrap;
    padding: 0% 10%;
    justify-content: space-between;
}

.selectedSavedRecipe__deleteButton {
    flex: 1;
    flex-wrap: nowrap;
}

.selectedSavedRecipe__editButton {
    flex: 1;
    flex-wrap: nowrap;
}

/****** Information ******/

/* Basic */
.selectedSavedRecipe__basicInfo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 3%;
    background-color:#531253;
    border: solid 2px white;
    border-radius: 5px;
}

.selectedSavedRecipe__leftside {
    display: flex;
    flex-flow: column nowrap;
}

.selectedSavedRecipe__rightside {
    display: flex;
    flex-flow: column nowrap;
}

.selectedSavedRecipe__webLink {
    margin: 16px 0px 16px;
}

/* summary  */

.selectedSavedRecipe__summary {
    font-size: small;
    padding: 1%;
    margin: 2%;
    background-color: #531253;
    border: solid 2px white;
    border-radius: 5px;
    line-height: 1.5em;
}

/* ingredients, cookware, and instructions */

.selectedSavedRecipe__ingredients {
    font-size: small;
    padding: 1%;
    margin: 2%;
    background-color: #531253;
    border: solid 2px white;
    border-radius: 5px;
}

.selectedSavedRecipe__equipment {
    font-size: small;
    padding: 1%;
    margin: 2%;
    background-color: #531253;
    border: solid 2px white;
    border-radius: 5px;
}

.selectedSavedRecipe__instructions {
    font-size: small;
    padding: 1%;
    padding-left: 1.5em;
    margin: 2%;
    background-color: #531253;
    border: solid 2px white;
    border-radius: 5px;
}

/* markers */

.equipment {
    display: flex;
    flex-flow: row nowrap;

}

.instruction {
    margin-bottom: 1em;
}

/************* Recipe Form *************/
.recipeCategory {
    margin: 0% 12%;
    padding: 0% 3% 2% 3%;
    background-color: #663a66;
    border-radius: 5px;
    min-width: min-content;
}

.recipeForm {
    min-width: 90%;
    display: flex;
    /* flex-flow: row nowrap; */
}

textarea.recipeForm {
    max-width: min-content;
    min-height: 7em;
}

.recipeFieldset {
    /* display: flex; */
    background-color: #663a66;
}

.formSection {
    padding-top: 2%;
}

.save-editButton {
    /* display: flex; */
    width: 60%;
    justify-self: center;
    margin-left: 20%;
    margin-top: 2%;
}