/****** Main Section ******/

#root {
    background-color: #A0ACAD;
    color: white;
}

#root:link {
    color: limegreen;
}

.container--home {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 155px;
    height: auto;
}

/***** Center Containers *****/

.container--center {
    flex: 4;
    margin: 1%;
    /* padding-left: 1%; */
}

.searchBar {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.extractBar {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.searchBar--input {
    flex: 1
}

.extractBar--input {
    flex: 1
}

/***** Left Container(Saved Recipes) *****/

.container--left {
    flex: 1;
    margin-right: 0;
    background: linear-gradient(#531253, #440f44);
    border-right: 6px #97D8B2 solid;
}

.savedRecipes {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    padding-left: 1%;
    padding-right: 1%;
    align-items: center;
    /* max-height: 1500px;  */
}

.recipe__name {
    display: flex;
    justify-content: center;
}

h2.section--title {
    display: flex;
    justify-content: center;
    background: linear-gradient(#531253, #771a77, #531253);
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-top: 0;
    padding-top: 20px;
}

.savedRecipe {
    display: flex;
    flex-flow: column;
    width: 30%;
    min-width: 250px;
    height: min-content;
    max-height: 3000px;
    margin: 1%;
    text-size-adjust: smaller;
    border-radius: 5%;
    border: #531253 solid;
    background-color: #170312;
}

.savedRecipe:hover {
    color: #170312;
    background-color: white;
    border: #A0ACAD solid;
}

h4.recipe__name {
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.favorite__icon {
    width: 2em;
    height: 2em;
}

.recipe__image {
    height: 50%;
}

.recipe__image {
    width: 100%;
    border-radius: 5% 5% 0% 0%;
}

.recipe__favorite {
    box-sizing: unset;
    border-radius: 0em 0em 1em 1em;
    border: none;
    background-color: #97D8B2;
}

.link a:hover {
    color: #33032F;
}

.savedRecipe--link:hover {
    color: #97D8B2;
}

/***** Right Container(Meal Queue) *****/

.container--right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    margin: 0;
    background: linear-gradient(#531253, #440f44);
    border-left: 6px #97D8B2 solid;
}