
#root {
    background-color: #A0ACAD;
    color: white;
    
}

#root:link {
    color:limegreen;
}

/***** Large Containers *****/
.container--home {
    display: flex;
    justify-content: space-between;
}

.container--left {
    flex: 1;
    margin: 1%
}

.container--center{
    flex: 4;
    margin:1%;
}

.container--right {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    margin: 1%
}


/**** Small Containers ****/
.logo {
    width: 150px;
    height: auto;
}
.savedRecipes {
    overflow: auto;
    max-height: 1500px; 
}

.section--title {
    margin-top: 0;
}

.searchBar {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.extractBar {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.search__results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: auto;
    max-height: 850px;
}

/* ::-webkit-scrollbar {
    appearance: none;
} */

.results__recipe {
    background-color: #531253;
    display: flex;
    width: 30%;
    min-width: 250px;
    height: min-content;
    max-height: 250px;
    margin: 1%;
    text-size-adjust: smaller;
    border:#170312 solid;
    border-radius: 5%;
}

.results__recipe:hover {
    background-color: #97D8B2;
    border: #A0ACAD solid;
}

a {
    color: #97D8B2;
}

.results__recipe:hover a {
    color: #531253;
}

/*** Details ***/
.recipe__name {
    display: flex;
    justify-content: center;
}

.searchBar--input {
    flex: 1
}

.extractBar--input {
    flex: 1
}

.results__image {
    max-width: 60%;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 5% 0% 0% 5%;
}

.results__details {
    padding: 1%;
    font-size: small;
}

.results__name {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.savedRecipe--link {
    color: #531253
}
